<igx-list>

    <igx-list-item isHeader="true">Filters</igx-list-item>

    <igx-list-item class="list-item__expandable">
        <igx-expansion-panel [collapsed]="false">
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>CITY</igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body *ngIf="cityOptions$ | async; let options">
                <app-multi-select-box-card [optionsList]="options"
                                           (optionSelectionChanged)="updateOptionSelection({filter: filters.CITY, observableName: filters.CITY+'Options$', optionsList: options, changed: $event})">

                </app-multi-select-box-card>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
    </igx-list-item>

</igx-list>
