.action__grid-select, .action__grid, .action__grid igx-icon {
    display: inline-block;
}

.action__grid, .action__grid igx-icon {
    vertical-align: middle;
}

.custom-tooltip {
    position: absolute;
    width: 150px;
    height: 70px;
    border: 1px solid cornflowerblue;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 1s;
}

.custom-tooltip.ag-tooltip-hiding {
    opacity: 0;
}

.custom-tooltip p {
    margin: 5px;
    white-space: nowrap;
}

.custom-tooltip p:first-of-type {
    font-weight: bold;
}

.filters-bar igx-chip {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

ag-grid-angular {
    width: 100%;
    height: 550px;
}

h4 {
    margin: 0;
}