<div class="small-space"></div>

<div class="row">
    <div class="col-md-10 offset-md-1">

        <button (click)="goBack()" class="text-left" igxButton="icon" igxRipple igxRippleCentered="true">
            <igx-icon fontSet="material">arrow_back_ios</igx-icon>
        </button>

        <ng-container *ngIf="farm && farm.DocId">
            <!--<button (click)="editContact(farm.DocId)" class="text-left" igxButton="icon" igxRipple igxRippleCentered="true">
                <igx-icon fontSet="material">edit</igx-icon>
            </button>-->


            <button (click)="deleteFarm(farm.DocId)"
                    class="float-right" igxButton="icon" igxRipple
                    igxRippleCentered="true">
                <igx-icon [style.color]="'red'" fontSet="material">delete</igx-icon>
            </button>

            <button (click)="printFarm(farm.DocId)" type="button"
                    class="float-right" igxButton="icon" igxRipple
                    igxRippleCentered="true">
                <igx-icon fontSet="material">print</igx-icon>
            </button>

            <button (click)="refreshFarm(farm.DocId)"
                    class="float-right" igxButton="icon" igxRipple
                    igxRippleCentered="true">
                <igx-icon [style.color]="'green'" fontSet="material">refresh</igx-icon>
            </button>

        </ng-container>

        <app-farm-master (childEvent)="test($event)" [farm]="farm"></app-farm-master>

    </div>
</div>


