.align-to-middle {
    vertical-align: middle;
}

.grid__wrapper {
    margin: 10px 16px;
}

.button {
    margin: 8px;
    width: 160px;
}

.drop-down__scroll-container {
    max-height: 240px;
    width: 160px;
}