<app-filter-grid #filterGrid

    [pageTitle]=gridtitle
    [gridConfigId]="config.grid"
    [columnConfigId]="config.column"
    [filterConfigId]="config.filter"
    [quickSearchTypeOptionConfigId]="config.quickSearchTypeOption"
    [exportFormats]="config.exportFormats"
    [actions]="config.actions"
    [plusActions]="config.plusActions"
    [dataFetcherMethod]="dataFetcherMethod"
    [dataExportMethod]="dataExportMethod"
    [showSideBar]="config.sideBarConfig"
    [hideSelectOption]="hideSelectOption"
    [hideHiddenDisplay]="hideHiddenDisplay"
    [showLoading]="showloading"
    [hardReload]="hardReload"
    gridHeight="80%"
    gridWidth="100%"

></app-filter-grid>