<app-dismissible-container title="{{formOperation | titlecase}} Phone Number" (onDismiss)="dismiss($event)">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
          <app-form-create-phone-number [parentId]="parentId"
                                #formCreate
                                [formData]="phoneNumber"
                                [formOperation]="formOperation"
                                [leftButtonText]="leftButtonText"
                                (onLeftButtonSelect)="dismiss($event)"
                                (onSubmitSuccess)="dismiss($event)">

          </app-form-create-phone-number>
        </div>
      </div>
    </div>
  </div>
</app-dismissible-container>
