<div class="row cstm-layout">
    <div class="col-md-4">
        <app-activitys-tracker gridtitle="Daily Activitys" interval="D"></app-activitys-tracker>
    </div>
    <div class="col-md-4">
        <app-activitys-tracker gridtitle="Weekly Activitys" interval="W"></app-activitys-tracker>
    </div>
    <div class="col-md-4">
        <app-activitys-tracker gridtitle="Monthly Activitys" interval="M"></app-activitys-tracker>
    </div>
</div>



<div class="cstm-card-layout">
    <app-my-followups></app-my-followups>
</div>

