img {
    max-width: 100%;
}

section {
    padding-left: 56px;
    padding-right: 56px;
}

.header {
    background: url("../../../assets/images/home/hero-background.png") #09f
        no-repeat fixed;
    background-size: contain;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: white;
    font-size: 32px;
    vertical-align: middle;
    margin-top: 20px;
    max-width: 300px;
}

.description {
    color: white;
    font-size: 20px;
    max-width: 800px;
}

.contentTitle {
    color: #0099ff;
    margin-top: 50px;
    margin-bottom: 25px;
}

.contentText {
    font-size: 16px;
}

.video {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 350px;
    min-height: 200px;
}

.videoWrapper {
    display: inline-block;
    margin-right: 24px;
}

.column {
    float: left;
    width: 33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.cstm-layout {
    margin: 30px 5px 18px 5px;
}

.cstm-card-layout {
    padding: 0 1rem;
}