.mat-tab-group {
    padding-left: 15px;
    padding-right: 15px;
}

.mainFrom-tab {
    padding-top: 20px;
}
/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mainForm {
    padding-left: 25px;
    padding-right: 25px;
}
.tab-area {
    padding-top: 25px;
}
.white-icon {
    color: white;
}
.red-icon {
    color:red;
}
.green-icon {
    color: green;
}
.gray-icon {
    color: gray;
}
.toggle {
    padding-right: 35px;
}
.toggle-left {
    padding-right: 35px;
    padding-left: 35px;
}
.center-icon {
    padding-left: 20px;
}
.example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }
.toggle {
    align-items: center;
    justify-content: center;
    padding-top: 15px;

}
.topCard {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.dialogactions {
    padding-top: 40px;
    padding-right: 25px;
}
.button {
    padding-left: 15px;
}
.text-left-1{
    padding-left: 25px;
}
