.add-area {
    max-width: 250px;

    igx-card {
        /*igx-card-header {
            padding-top: 0;
            padding-bottom: 0;
        }*/
        igx-card-content {
            max-height: 150px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 0.5em;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            }

            &::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                outline: 1px solid slategrey;
            }
        }
    }
}

.card-wrapper {
   
 
   
}

.card-content {
    max-height: 300px;
    min-height: 150px;
    overflow-y: auto;  
}


igx-circular-bar {
    height: 40px;
}
