

<div class="windowHead"><h3>Update Password for {{data.f_name}} {{data.l_name}}</h3></div>

<div [formGroup]="passwordForm" *ngIf="alive" >

        <div class="row right">
            <mat-slide-toggle class="showDetail" #toggle1 align="end">Show Password Details</mat-slide-toggle>
        </div>
        <div class="row">

                <mat-form-field class="col-md-12">

                        <input
                            matInput
                            placeholder="Old Passsword"
                            formControlName ="oldPassword"
                            [type]="oldPasswordHide ? 'password' : 'text'"
                        >
                        <button mat-icon-button matSuffix (click)="oldPasswordHide = !oldPasswordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oldPasswordHide" tabindex="-1">
                            <mat-icon>{{oldPasswordHide  ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                </mat-form-field>

               </div>
               <div class="row">


               <mat-form-field  class="col-md-12">
                        <input
                            matInput
                            placeholder="New Password"
                            formControlName ="newPassword"
                            [type]="newPasswordHide ? 'password' : 'text'"
                        >
                        <button mat-icon-button matSuffix (click)="newPasswordHide = !newPasswordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasswordHide" tabindex="-1">
                        <mat-icon>{{newPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
               </mat-form-field>
                <div *ngIf="toggle1.checked">
               <label class="col" [ngClass]="passwordForm.controls['newPassword'].hasError('required') || passwordForm.controls['newPassword'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ passwordForm.controls['newPassword'].hasError('required') ||
                  passwordForm.controls['newPassword'].hasError('minlength') ? 'cancel' :
                  'check_circle' }}</i>
                Must be at least {{ paswdProfile.minChar }}  characters!
              </label>
              <label class="col" [ngClass]="passwordForm.controls['newPassword'].hasError('required') || passwordForm.controls['newPassword'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ passwordForm.controls['newPassword'].hasError('required') ||
                  passwordForm.controls['newPassword'].hasError('hasNumber') ? 'cancel' :
                  'check_circle' }}</i>
                Must contain at least {{ paswdProfile.numbers }}  number!
              </label>
              <label class="col" [ngClass]="passwordForm.controls['newPassword'].hasError('required') || passwordForm.controls['newPassword'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ passwordForm.controls['newPassword'].hasError('required') ||
                  passwordForm.controls['newPassword'].hasError('hasCapitalCase') ? 'cancel' :
                  'check_circle' }}</i>
                Must contain at least {{ paswdProfile.upperCase }} in Capital Case!
              </label>
              <label class="col" [ngClass]="passwordForm.controls['newPassword'].hasError('required') || passwordForm.controls['newPassword'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ passwordForm.controls['newPassword'].hasError('required') ||
                  passwordForm.controls['newPassword'].hasError('hasSmallCase') ? 'cancel' :
                  'check_circle' }}</i>
                Must contain at least {{ paswdProfile.lowerCase }}  Letter in Small Case!
              </label>
              <label class="col" [ngClass]="passwordForm.controls['newPassword'].hasError('required') || passwordForm.controls['newPassword'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ passwordForm.controls['newPassword'].hasError('required') ||
                  passwordForm.controls['newPassword'].hasError('hasSpecialCharacters') ? 'cancel' :
                  'check_circle' }}</i>
                Must contain at least {{ paswdProfile.specialChar }}  Special Character!
              </label>

              </div>
            </div>
            <div class="row">
                <mat-form-field  class="col-md-12">
                         <input
                             matInput
                             placeholder="Confirm Password"
                             formControlName ="confirmPassword"
                             [ngClass]="passwordForm.controls['confirmPassword'].invalid ? 'text-danger' : ''"
                             [type]="confirmPasswordHide ? 'password' : 'text'"
                         >
                        <button mat-icon-button matSuffix (click)="confirmPasswordHide = !confirmPasswordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPasswordHide" tabindex="-1">
                        <mat-icon>{{confirmPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>

                 </mat-form-field>
                 <div class="confirm">
                  <label class="text-danger" *ngIf="passwordForm.controls['confirmPassword'].hasError('required')">
                    <i class="material-icons">cancel</i>Password is Required!
                  </label>
                  <label class="text-danger" *ngIf="passwordForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
                    <i class="material-icons">cancel</i>Password do not match
                  </label>
                </div>
             </div>


                        <div mat-dialog-actions align="end">

                    <button  (click)="updatePassword()"  [disabled]="passwordForm.invalid" mat-raised-button color="primary">Update Password</button>
                    <button  (click)="close()" mat-raised-button color="warn">Exit</button>
                </div>
            </div>

