.is-invalid {
    border-left: solid 6px red;
  }

  .material-icons {
    display: inline-flex;
    vertical-align: middle;
  }
.confirm {
    padding-left: 20px;
}
.showDetail {
    padding-left: 350px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.windowHead {
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 24px;
    background-color:#F4F5F7;

}
