<div class="modal-header ds-primary-bg">
    <h5 class="modal-title text-white">{{dialogTitle}}</h5>
    <button type="button" class="close text-white" (click)="close()">&times;</button>
</div>
<div [formGroup]="columnForm" class="form">
<div class="row" class="col-md-12">

    <div class="row" class="col-md-12">
             
        <mat-form-field class="col-md-12" appearance="fill">
            <mat-label>Field Name</mat-label>
            <input matInput formControlName="field" value="">
          </mat-form-field>
    
    </div>
    <div class="row" class="col-md-12">
             
        <mat-form-field class="col-md-12" appearance="fill">
            <mat-label>Header Name</mat-label>
            <input matInput formControlName="headerName" value="">
          </mat-form-field>
    
    </div>

    <div class="row" class="col-md-12">
        <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Position</mat-label>
            <input matInput formControlName="position" value="">
          </mat-form-field>
          
          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Width</mat-label>
            <input matInput formControlName="width" value="">
          </mat-form-field>
    </div>


    <div class="row" class="col-md-12">
    <mat-form-field class="col-md-12" appearance="fill">
        <mat-label>Column Type</mat-label>
        <mat-select formControlName="type">
          <mat-option></mat-option>
          <mat-option [value]="item.value" *ngFor="let item of types">{{ item.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row" class="col-md-12">

        <mat-checkbox class="col-md-6" formControlName="hide">Hide Column</mat-checkbox>
        <mat-checkbox class="col-md-6" formControlName="sortable">Allow Sort</mat-checkbox>
     
    
    </div>

    <div class="row" class="col-md-12" *ngIf="columnForm.value.sortable">
             
      <mat-form-field class="col-md-12" appearance="fill">
          <mat-label>Sort Key</mat-label>
          <input matInput formControlName="sortkey" value="">
        </mat-form-field>
  
  </div>
    <div class="row">

    
      
        <div class="col-md-12 text-right">
        <button  class="button" (click)="close()" mat-raised-button color="warn">Close</button>
        <button  class="button" (click)="save()" [disabled]="!columnForm.valid || columnForm.pristine" mat-raised-button color="warn">{{saveBttn}}</button>
        </div>
   

</div>
</div>
</div>


